[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace]
resolver = "2"
members = ["oxide"]

[workspace.dependencies]
leptos = { version = "0.8.15", features = ["csr"] }
leptos_router = "0.8.11"
