services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: oxide
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/
